doctype html
html
  head
  body
    form(action='/signup' method='post')
      input(name='username' placeholder='usuario')
      br
      input(name='password' type='password' placeholder='contraseña')
      br
      input(type='submit' value='Registrarse')
